/*fonte google*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*Tirando formatação própria do site*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
/*tirar barra de rolagem*/
body::-webkit-scrollbar {
  display: none;
}

/*Html*/

html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #1f1f1f;
  scroll-behavior: smooth;
  scroll-padding: 25rem;
}
/*remover azul  sublinhado link footer instagram*/
a.custom-link {
  text-decoration: none; /* Remover sublinhado */
  color: inherit; /* Herdar a cor do elemento pai */
}

/*menu*/

.content {
  flex-direction: row;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1f1f;
  position: fixed;
  padding-left: 20rem;
  flex-direction: none;
}
/*Logo*/

.logo {
  width: 100px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.logo h3 {
  color: white;
  font-size: 1.8rem;
  display: inline-block;
  white-space: nowrap;
}
.logo h3 li a:hover {
  background-color: #333;
  border-bottom: 4px solid #ffc506;
  color: #ffc506;
}

.logo img {
  width: 100%;
  height: 100%;
}

/*Navbar*/

.content .list-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .list-menu li a {
  padding: 3rem 1rem 2rem 1rem;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 220ms ease-in; /*efeito amarelo ao passar o mouse*/
}

/*efeito amarelo ao passar o mouse*/

.content .list-menu li a:hover {
  background-color: transparent;
  border-bottom: 4px solid #ffc506;
  color: #ffc506;
}

/*First section*/

.first-section {
  height: 120vh;
  background-image: linear-gradient(
      rgba(29, 29, 29, 0.8),
      rgba(29, 29, 29, 0.8)
    ),
    url(midia/foto\ 1.jpg); /*imagem*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-section .conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-section h1 {
  color: #ffc506;
  font-size: 6.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.first-section h2 {
  color: rgb(177, 177, 177);
  font-size: 3.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/*botões*/
.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem; /* Optional: Adjust margin as needed */
}

.btn button {
  width: 300px;
  height: 70px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffc506;
  border-radius: 30px;
  color: black;
  font-weight: 700;
  transition: all 200ms ease-in;
}

.btn button:hover {
  border: 1px solid #ffc506;
  background-color: transparent;
  color: #ffc506;
}

/*Sobre nós*/

.sobre-nos {
  background-color: #1f1f1f;
  width: 100%;
  padding-bottom: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-nos img {
  width: 400px;
  height: 400px;
  margin-top: 10rem;
  margin-left: 10rem;
  border: 2px solid rgb(155, 155, 155);
}
.main {
  display: flex;
  justify-content: space-between;
}
.contentsobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentsobre h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.contentsobre p {
  text-align: center;
  font-size: 1.5rem;
  width: 600px;
  color: white;
}
/*CARDÁPIO2*/
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 40px;
  font-size: 3 rem;
  text-transform: uppercase;
}
p {
  font-size: 1.3rem;
  color: #ffc506;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  display: flex;
  align-items: center;
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: calc(50% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  margin-left: 20px;
}

.product h2 {
  font-size: 2em;
  color: #ffc506;
  margin-bottom: 10px;
}

.product p {
  font-size: 1.4em;
  color: white;
  margin-bottom: 10px;
}

.product .weight {
  font-style: italic;
  color: #999;
}

.product .price {
  font-weight: bold;
  font-size: 1.4em;
  color: #e0ad05;
}

.product:hover {
  transform: scale(1.05);
  background-color: rgba(12, 12, 12, 0.8);
}

.product .text {
  flex: 1;
}
/*botões cardápio*/

.order-button,
.cart-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.order-button {
  background-color: #ffc506;
  color: white;
}

.cart-button {
  background-color: #ffc506;
  color: white;
}

.order-button:hover {
  background-color: #333;
}

.cart-button:hover {
  background-color: #333;
}

/*Contatos*/

.contatos {
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  color: white;
  padding-bottom: 4rem;
}
.contatos h3 {
  font-size: 2.4rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.contatos-secao {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-size: 1.2rem;
}
.contatos-secao div {
  cursor: pointer;
  transition: all 200ms ease-in;
}
.contatos-secao div:hover {
  color: #ffc506;
}
footer {
  height: 25px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* General Styles */
.main {
  display: block;
}

/* Desktop (max-width: 1200px) */
@media (max-width: 1200px) {
  /*cardapio2*/
  .product {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .product img {
    margin: 0 0 20px 0;
  }
}

.content {
  align-items: center;
  height: 7%;
}

.sobre-nos img {
  width: 600px;
  margin-left: -2px;
}

.content .list-menu {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10rem;
}

.logo {
  margin-right: 10rem;
  width: 90px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.logo h3 {
  color: white;
  font-size: 1.8rem;
  display: inline-block;
}

/* Tablet (max-width: 992px) */
@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
  /*cardápio2*/
  .product {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .product img {
    margin: 0 0 20px 0;
  }
}

.content .list-menu {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  /*cardápio2*/
  .product {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .product img {
    margin: 0 0 20px 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
  }

  .content .list-menu {
    display: none;
  }

  .one,
  .two,
  .three {
    width: 80%;
    height: 2px;
    background-color: white;
    margin: 6px auto;
    transition-duration: 0.5s; /* Corrected from "0.5x" to "0.5s" */
  }

  .menu-toggle {
    width: 30px;
    height: 30px;
  }

  .content.on {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(30, 31, 30, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content.on .logo {
    display: none;
  }

  .content.on .menu-toggle {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .content.on .list-menu {
    display: block;
  }

  .content.on .list-menu li {
    justify-content: center;
    display: flex;
  }

  .content.on .list-menu li a {
    font-size: 2.5rem;
  }

  .content.on .menu-toggle .two {
    opacity: 0;
  }

  .content.on .menu-toggle .one {
    transform: rotate(45deg) translate(5px, -8px);
  }

  .content.on .menu-toggle .three {
    transform: rotate(-45deg) translate(20px, -6px);
  }

  .contatos-secao {
    display: flex;
    flex-direction: column;
  }

  /* Mobile (max-width: 600px) */
  @media (max-width: 600px) {
    /*cardápio2*/
    .product {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    .product img {
      margin: 0 0 20px 0;
    }
    .conteudo-principal h1 {
      width: 300px;
      text-align: center;
      font-size: 4rem;
    }

    .conteudo-principal h2 {
      font-size: 2rem;
    }
    .sobre-nos img {
      width: 400px;
      height: 250px;
      margin-left: 10px;
    }

    .sobre-nos p {
      text-align: center;
      width: 400px;
    }

    .contatos-secao {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 500px) {
      /*cardápio2*/
      .product {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

      .product img {
        margin: 0 0 20px 0;
      }
      .contatos-secao {
        display: flex;
        flex-direction: column;
      }
      .first-section h1 {
        max-width: 100%;
        color: #ffc506;
        font-size: 6rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
    }
    @media (max-width: 395px) {
      /*cardápio2*/
      .product {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

      .product img {
        margin: 0 0 20px 0;
      }
      .contatos-secao {
        display: flex;
        flex-direction: column;
      }
      .sobre-nos img {
        width: 250px;
        height: auto;
        margin-left: 10px;
      }
      .contentsobre p {
        text-align: center;
        width: 250px;
      }
      .first-section h1 {
        max-width: 100%;
        color: #ffc506;
        font-size: 6rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
    }
    .btn {
      width: 64%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem; /* Optional: Adjust margin as needed */
    }
  }
}
